<div>

    <div *ngFor='let quote of quotes; let i = index' >
        <ul>
            <li>
                {{quote.aQuote}}.
            </li>
            <li>
                ~ {{quote.author}}.
            </li>
            <button (click)='toggleDetails(i)' > Toggle details</button>
            <app-quote-details  *ngIf='quote.showDescription'
             [quote]='quote' 
            (toDelete)='nowDelete($event, i)'
            (upThisVote)='addUpVote($event, i)'
             (downThisVote)= 'addDownVote($event, i)'
             ></app-quote-details>
        </ul>



    </div>

</div>
