
<div class="container-fluid">
<!-- div for displaying the highest upVote at the top -->
    <div class=' container-fluid arrangement col-md-4' *ngFor='let quote of quotes; let i = index' >
        <div appHighlightHighestUpvote *ngIf='highestUpVote()===quote.upVote'>
          <ul>
              <div class='quote-hi'>
            <li>
                {{quote.aQuote}}.
            </li>
            <li class='quoteAuthor'>
                ~ {{quote.author}}.
            </li>
            

            <button class="btn btn-primary" (click)='toggleDetails(i)' > Toggle details</button>
              </div>
            <app-quote-details  *ngIf='quote.showDescription'
             [quote]='quote' 
            (toDelete)='nowDelete($event, i)'
            (upThisVote)='addUpVote($event, i)'
             (downThisVote)= 'addDownVote($event, i)'>
            </app-quote-details>
        </ul>

        </div>



    </div>

    <!-- Show if not in highest upVote -->
    <div class='container-fluid arrangement col-md-4' *ngFor='let quote of quotes; let i = index' >
        <div *ngIf='highestUpVote()!=quote.upVote'>
          <ul>
              <div class="quoteHi">
            <li >
                {{quote.aQuote}}.
            </li>
            <li class='quoteAuthor' >
                ~ {{quote.author}}.
            </li>
            <button class="btn btn-primary" (click)='toggleDetails(i)' > Toggle details</button>
            </div>
            <app-quote-details  *ngIf='quote.showDescription'
             [quote]='quote' 
            (toDelete)='nowDelete($event, i)'
            (upThisVote)='addUpVote($event, i)'
             (downThisVote)= 'addDownVote($event, i)'
             ></app-quote-details>
        </ul>

        </div>



    </div>


</div>


<div>
    <app-new-quote-form  (addQuote)='addNewQuote($event)' ></app-new-quote-form>
</div>
